.containerMain{
  position: relative;
  position: relative;
  width: 90%;
  height: 100vh;
  margin-top: 2%;
  display: grid;
  justify-content: space-between;
  justify-items: self-start;
  grid-template-columns: 1fr 1fr;
  border: 5px solid var(--border-color);
  margin-left: 60px;

}

.containerGridOne{
  position: relative;
  width: 100%;
  height: 0%;
  padding-top:10%;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-column-start: 1;
  
}

.photo {
  width: 170px;
  border-radius: 50%;
  margin-left: 30px;
  margin-top: 10px;
}

.description {
  grid-column-start: 1;
  width: 170px;
  margin-left: 54px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: var(--title-color);
}

.followers {
  grid-column-start: 1;
  width: 170px;
  margin-left: 54px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 500;
  color: var(--title-color);
}

.repo{
  background: var(--button-color-secund);
  display: initial;
  margin-left: 2px;
  border-radius: 7px;
  margin-top: 10px;
  font-size: 15px;
  cursor: pointer;
  border: none;
  color: var(--text-color);
}

.containerGridTwo{
  grid-column-start: 2;
}

.titleRepo{
  margin-top: 100px;
  display: grid;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
  justify-content: space-between;
  color: var(--title-color);
  font-weight: bold;
}

.repo:hover{
  background-color: var(--button-color-hoot);
  color: var(--white);
}

@media (max-width: 750px) {
  
  .containerMain {
    display: contents;
  }

  .containerGridTwo{
    margin-left: 15%;
  }
}
